{% extends 'base.html' %}

{% block content %}
<div class="container">
	<h3 style="color:black">Add Track</h3>
	<br>
	<form action='/addTrack' method='POST' enctype="multipart/form-data">
		{% csrf_token %}
		<div class="form-group">
			<label for="name">Track Name</label>
			<input type="text" class="form-control" name="name" placeholder="Enter track name" style="width:40%" required>
		</div>
	
		<div class="form-group">
			<label for="track_Img" class="col-2 col-form-label">Track Image</label><br>
			<div id="track_Img">
				<input type="file" name="track_Img" id="track_Img">
			<span id="file-error" style="color:red"></span>
			</div>
		</div>
		<button type="reset" class="btn btn-danger" >Reset</button>
		<button type="submit" class="btn btn-primary" >Save</button>
	</form>
</div>
{% endblock %}